@{
    ViewData["Title"] = "Contact Me";
}

<div id="content-wrapper">
   <section id="contact">
      <div class="container">
          <div class="pb-4 text-center" data-aos="fade-up">
            <h1>Interested in working together? Let's talk
            </h1>
         </div>
         <div class="row align-items-center">
            <div class="col-lg-4">
               <img src="~/img/contact.jpg" alt="">
            </div>
            <div class="col-lg-6 offset-lg-1">
               <form>
                  <div class="mb-3">
                    <small>Name</small>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                     <small>Email</small>
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   </div>
                   <div class="mb-3">
                     <small>Message</small>
                     <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                   </div>
                  <button type="submit" class="btn btn-brand">Submit</button>
                </form>
            </div>
         </div>
      </div>
   </section>

</div>
